.body{
    background-color: aquamarine;
}
.name{
    font-family: sans-serif;
    text-align: center;
}
.basic{
    text-align: left;
    width: 300px;
    border-radius: 50px;
    transition: transform .2s;
}
.basic:hover{
    transform: scale(1.1);
}
.starter{
    text-align: center;
    width: 340px;
    border-radius: 50px;
    transition: transform .2s;
}
.starter:hover{
    transform: scale(1.1);
}
.premium{
    text-align: right;
    width: 300px;
    border-radius: 50px;
    transition: transform .2s;
}
.premium:hover{
    transform: scale(1.1);
}
.photo{
    text-align: center;
}